nav {
    background-color: rgb(209, 156, 88);
    color: white;
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
}